@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to PriorityQ!</h2>

@if (Model.SessionHeadlines.Count == 0)
{
    <p>There doesn't seem to be any ongoing sessions in your vicinity.</p>
    <p>How about @Html.ActionLink("creating a new one?", "new", "session")</p>
}
else
{
    <p>Enter one of the ongoing sessions:</p>

    <ul>
        @foreach (var session in Model.SessionHeadlines)
        {
            <li>
                <a href="@Url.Action("show", "session", new { Id = @session.Id })">@session.Headline</a>
            </li>
        }
    </ul>
    
    if (Model.SessionCount > Model.SessionHeadlines.Count)
    {
        if (Model.ShowPrevious)
        {
            <span><a href="@Url.Action("index", new { first = Model.Previous })">Previous page</a></span>
        }
        else
        {
            <span>Previous page</span>
        }
        <span> | </span>
        if (Model.ShowNext)
        {
            <span><a href="@Url.Action("index", new { first = Model.Next })">Next page</a></span>
        }
        else
        {
            <span>Next page</span>
        }

        <p>Showing @Model.From to @Model.To out of @Model.SessionCount.</p>
    }

    <p>- or @Html.ActionLink("create a new one", "new", "session")...</p>
}