@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to PriorityQ!</h2>

@if (Model.SessionHeadlines.Count == 0)
{
    <p>There doesn't seem to be any ongoing sessions in your vicinity.</p>
    <p>How about @Html.ActionLink("creating a new one?", "new", "session")</p>
}
else
{
    <p>Enter one of the ongoing sesssions:</p>

    <ul>
        @foreach (var session in Model.SessionHeadlines)
        {
            <li>
                <a href="@Url.Action("show", "session", new { Id = @session.Id })">@session.Headline</a>
            </li>
        }
    </ul>
    
    if (Model.SessionCount > Model.SessionHeadlines.Count)
    {
        <p>
            Showing @Model.From to @Model.To out of @Model.SessionCount.
        </p>
    }

    <p>- or @Html.ActionLink("create a new one", "new", "session")...</p>
}