@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true_or_false&amp;key=ABQIAAAApTSOhgbgKsPZn74bYo5QGhT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQPW1flQpleSTbf_ueqoanmhYiLxw" type="text/javascript"></script>
<script type="text/javascript">
    var map = null;
    var geocoder = null;

    function initialize(coords) {
        if (GBrowserIsCompatible()) {
            map = new GMap2(document.getElementById("map_canvas"));

            if (coords) {
                map.setCenter(new GLatLng(coords.latitude, coords.longitude), 13);
            } else {
                map.setCenter(new GLatLng(37.4419, -122.1419), 13);
            }

            map.addControl(new GSmallMapControl());

            geocoder = new GClientGeocoder();
        } else {
            $('#geoStuff').hide();
        }
    }

    function showPosition(coords) {
        var lat = coords.latitude;
        var lng = coords.longitude;
        var point = new GLatLng(lat, lng);

        map.setCenter(point, 13);

        var marker = new GMarker(point, {draggable: true});
        map.addOverlay(marker);

        GEvent.addListener(marker, "dragend", function (newCoords) {
            //showPosition({ latitude: newCoords.lat, longitude: newCoords.lng });
        }); 

        $('#lat').val(lat);
        $('#lng').val(lng);

        if (!geocoder) return;

        geocoder.getLocations(point, function (response) {
            if (!response || response.Status.code != 200) {
                $('#noAutoGeocode').show();
                $('#autoGeocode').hide();
            } else {
                var placemark = response.Placemark[0];
                $('#addressText').val(placemark.address);
                
                $('#autoGeocode').show();
                $('#noAutoGeocode').hide();
            }
        });
    }

    function showAddress(address) {
        if (!geocoder) return;

        geocoder.getLatLng(address, function (point) {
            if (!point) {
                alert(address + " not found");
            } else {
                map.setCenter(point, 13);
                var marker = new GMarker(point);
                map.addOverlay(marker);
                marker.openInfoWindowHtml(address);

                var lat = point.lat();
                var lng = point.lng();

                $('#lat').val(lat);
                $('#lng').val(lng);
            }
        });
    }

    function getTimeString(time) {
        return time.getDate() + '-' + (time.getMonth() + 1) + '-' + time.getFullYear() + ' ' + time.getHours() + ':' + time.getMinutes() + ':' + time.getSeconds();
    }

    $(function () {
        if (navigator.geolocation) {
            navigator.geolocation.watchPosition(function (position) {
                showPosition(position.coords);

                $('#headline').focus();
            });
        }

        var timeString = getTimeString(new Date());

        $('#expirationTime').val(timeString);

        $('#headline').focus();

        initialize();
   });

    function fillOutLocalTime() {
        var time = new Date();
        var localTime = getTimeString(time);
        $('#localTime').val(localTime);
    }

    function showCurrentAddress() {
        var addressText = $('#addressText').val();
        showAddress(addressText);
    }
</script>

<h2>Create new session</h2>

<form action="@Url.Action("new", "session")" method="post" onsubmit="javascript:fillOutLocalTime()">
    <fieldset>
        <p>Give your PriorityQ a short headline so your participants will know which one to pick...</p>
        @Html.Label("headline", "Headline:")
        
        @Html.Editor("headline")
        
        <br />

        @Html.Label("expirationTime", "When should this PriorityQ expire?")

        @Html.Editor("expirationTime")

        @Html.Hidden("localTime")

        <div class="geoStuff">
            <div id="noAutoGeocode" class="hidden">
                <p>You should geocode the session so your participants will be able to find it more easily.</p>
            </div>
        
            <div id="autoGeocode" class="hidden">
                <p>We have made our best guess at your current location, but it may not be entirely correct.</p>
                <p>Please help us help you by providing the exact location below...</p>
            </div>

            <p> 
                <input type="text" size="50" id="addressText" value="" /> 
                <button onclick="showCurrentAddress(); return false;">Locate!</button> 
            </p> 
            <div id="map_canvas" style="width: 500px; height: 300px"></div> 
        </div>

        <input type="submit" value="Create..." />

        @Html.Hidden("lat")
        @Html.Hidden("lng")

    </fieldset>
</form>