@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function upvote(index) {
        var votesContainer = $('#q-count-' + index);
        var votes = votesContainer.text();
        votes++;
        votesContainer.text(votes);

        $.post(baseUrl + '/session/upvote/@Model.SessionId?index=' + index, function (response) {
            votesContainer.text(response.votes);

            $('#q-' + index).addClass('voteCast');
            $('#q-vote-' + index).hide();
        });
    }

    $(function () { $('#questionText').focus(); });
</script>

<h2>@Model.Headline</h2>

<form id="questionForm" action="@Url.Action("add", "session")" method="post">
    <fieldset>
        @Html.Label("text", "Pose a question:")

        @Html.TextBox("questionText")
        
        @Html.Hidden("sessionId")
       
        <input type="submit" value="Add..." class="button" />
    </fieldset>
</form>

@foreach (var question in Model.Questions)
{
    <div id="q-@question.Index" class="question @(question.VoteCastByCurrentUser ? "voteCast": "")">
        <p>
            <span class="questionCount" id="q-count-@question.Index">@question.Votes</span>
            <span class="questionText">@question.Text</span>
            
            @if (!question.VoteCastByCurrentUser)
            {
                 <a href="#" onclick="javascript:upvote(@question.Index)" id="q-vote-@question.Index">Vote</a>
            }
        </p>
    </div>
}

<p>
    ...or @Html.ActionLink("go back to the front page", "index", "home").
</p>